[submodule "k8s-keystone"]
	path = keystone-apb/roles/k8s-keystone
	url = https://github.com/tripleo-apb/ansible-role-k8s-keystone.git
[submodule "oslo-config"]
	path = oslo-apb/roles/oslo-config
	url = https://github.com/tripleo-apb/ansible-role-oslo-config.git
